// Colors

$color-primary: #1c1c1c;
$color-primary-light: #ef2b3d;
$color-primary-extra-light: #7a0013;
$color-secondary-dark: #ffffff;
$color-secondary: #fff;
$color-third: #202020;


$color-grey-subdark: #393939;
$color-grey-dark: #202020;
$color-grey-text: #7d7d7d;
$color-gray-light: #d6d6d6;
$color-gray-lighter: #f2f2f2;

// Font

$heading-font-family: 'Inter', sans-serif;
$primary-font-family: 'Inter', sans-serif;
$secondary-font-family: 'Inter', sans-serif;
